{% extends 'standart/index.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block main %}

<div class="not_found">
    <h1>404</h1>
    <p>Page not found</p>
</div>

{% endblock %}
