{% extends 'standart/index.html.twig' %}

{% block title %}Add Post Controller!{% endblock %}

{% block main %}

    <div class="expertise">
        <h2>Add Post!</h2>

        <hr>

        <div class="form add_post">
            {{ form_start(form_post) }}

            {{ form_errors(form_post) }}

            {{ form_widget(form_post) }}

            {{ form_end(form_post) }}
        </div>
    </div>

{% endblock %}
